
.container{
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    font-size: 25px;
}

.bolden{
    font-weight: bold;
}

.sectionTitle{
    font-size: 48px;
    text-align: center;
    margin: 100px auto 10px auto;
    padding: 5px;
    background: #8AE1FC ;
    width: fit-content;
}

.repoLink{
    display: inline;
    color: #63458A;
    transition: color .25s linear
}
.repoLink:hover{
    color: #B288C0
}

@media screen and (max-width: 768px) {
    .container{
        font-size: 4vw;
    }
    .sectionTitle{
        font-size: 8vw;
    }
}