ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3066BE;
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

li{
    display: inline;
    color: white;
    padding: 10px 0
}

.headerEl{
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 36px;
}
.headerEl:visited{
    color: inherit;
    text-decoration: none;
}

.headerEl:after{
    content:'';
    position:absolute;
    width:100%;
    transform:scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out
}

.headerEl:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media screen and (max-width: 768px) {
    .headerEl{
        color: white;
        position: relative;
        text-decoration: none;
        font-size: 18px;
    }
}