.bannerTitles
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Playfair Display', serif;
}

.bannerTitleLg{
    position: absolute;
    top:200px;
    font-size: 100px;
    z-index: 999
}

.bannerTitleSm{
    position: absolute;
    top:340px;
    font-size: 20px;
    font-weight: bold;
    z-index: 999
}

.bannerTitleExSm{
    position: absolute;
    top:380px;
    font-size: 20px;
    z-index: 999
}

.bannerImg{
    width:100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(50%);
}

@media screen and (max-width: 768px)  {
    .bannerTitleLg{
        font-size: 50px;
    }
    .bannerTitleSm{
        font-size: 15px;
    }
    .bannerTitleExSm{
        font-size: 15px;
    }
}