
.ministryContainer{
    display: flex;
    flex: 9;
    margin: 200px;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px)  {
 
    .ministryContainer{   margin: 100px 10%}
}
