.cardContainer{
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    /* overflow: hidden; */
}
.cardContainer:hover{
    cursor: pointer;
}

.cardTitle{
    font-size: 20px;
    color: black;
}

.imgContainer{
    overflow: hidden;
    border-radius: 10px;    
    text-align: center;
    object-fit:cover;
}

.cardText{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ministryImg{
    width: 100%;
    height: 250px;
}

.ministryName{
    font-size: 25px;
    text-align: center;
}

.denomination{
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 768px)  {
    .cardContainer{
        width: 100%
    }
    .ministryImg{
        height: auto
    }
    .ministryName, .denomination{
        font-size: 15px;
    }
}